/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  background-color: #ffffff;
}

.section {
  padding-top: 88px;
  padding-bottom: 88px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container__main {
  padding: 0 135px;
}
.container__footer {
  padding: 0 220px;
}

.thumb {
  width: 270px;
  height: 270px;
}

.header__container {
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-color: #F1F1F2;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 433px;
  height: 411px;
  padding: 154px 126px 135px 162px;
}
.hero__heading {
  font-size: 56px;
  line-height: 1.23;
  margin-bottom: 36px;
}
.hero__descritpion {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 52px;
}

.features {
  background-color: #F1F1F2;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.features__content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 441px;
  height: 332px;
  padding: 164px 166px 104px 112px;
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__heading {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 23px;
}
.features__description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 35px;
}

.content__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: 436px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.content__item {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: box-shadow, background-color;
  transition-property: box-shadow, background-color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  background-color: #fafafa;
}
.content__item:hover, .content__item:focus {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.content__item:hover {
  background-color: #fff;
}
.content__cont {
  margin-top: 24px;
  padding-left: 24px;
}
.content__heading {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 74px;
}
.content__link {
  font-size: 14px;
  line-height: 1.35;
  color: #000;
}

.encourage {
  background-color: #f7941e;
  max-width: 1440px;
  margin: 0 auto;
}
.encourage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.encourage__thumb {
  margin-right: 230px;
  padding-top: 81px;
  padding-bottom: 69px;
}
.encourage__heading {
  font-size: 32px;
  line-height: 1.4;
}
.encourage__description {
  font-size: 32px;
  line-height: 1.4;
}
.encourage__list {
  display: grid;
  grid-template-columns: 200px 200px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.footer {
  background-color: #fafafa;
  padding-top: 115px;
  padding-bottom: 35px;
}
.footer__nav {
  border-bottom: 1px solid #000000;
  padding-bottom: 53px;
  margin-bottom: 55px;
}
.footer__list {
  display: grid;
  grid-template-areas: "one two three four five";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.footer__item--logo {
  grid-area: three;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-size: 14px;
  line-height: 1.4;
}
.footer__link__first {
  grid-area: one;
}
.footer__link__second {
  grid-area: two;
}
.footer__link__fourth {
  grid-area: four;
}
.footer__link__fifth {
  grid-area: five;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 60px;
  padding: 19px 23px;
  border: 1px solid #f7941e;
  border-radius: 5px;
  background-color: transparent;
  color: #f7941e;
  text-transform: uppercase;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.link:hover, .link:focus {
  border-color: transparent;
  background-color: #f7941e;
  color: #fff;
}
.link--black {
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.link--black:hover, .link--black:focus {
  border-color: transparent;
  background-color: #000;
  color: #fff;
}

.logo {
  fill: #231f20;
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}
.logo:hover {
  fill: #F7941E;
}
.logo--orange {
  fill: #F7941E;
}
.logo--orange:hover, .logo--orange:focus {
  fill: #000;
}

.nav__link {
  line-height: 1.17;
  color: #000000;
}
.nav__link--black {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
}
.nav__link--padding {
  padding-top: 47px;
  padding-bottom: 47px;
}
.nav__link--less-padding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 39px 0 38px 0;
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav__item:first-child {
  margin-right: 433px;
}
.nav__item:nth-child(n+3) {
  margin-left: 31px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  width: 200px;
  height: 60px;
  padding: 19px 23px;
  border-radius: 5px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.button--color {
  border: 1px solid #f7941e;
  background-color: transparent;
  color: #f7941e;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.button--color:hover, .button--color:focus {
  border-color: transparent;
  background-color: #f7941e;
  color: #fff;
}
.button--orange {
  border: 1px solid transparent;
  background-color: #f7941e;
  color: #fff;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.button--orange:hover, .button--orange:focus {
  border-color: #f7941e;
  background-color: transparent;
  color: #f7941e;
}
.button--black {
  border: 1px solid transparent;
  background-color: #000;
  color: #fff;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.button--black:hover, .button--black:focus {
  border-color: #000;
  background-color: transparent;
  color: #000;
}

.title {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 23px;
}

.text {
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
  margin-bottom: 65px;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  -webkit-transition: -webkit-box-shadow 250ms linear;
  transition: -webkit-box-shadow 250ms linear;
  transition: box-shadow 250ms linear;
  transition: box-shadow 250ms linear, -webkit-box-shadow 250ms linear;
  padding: 48px 48px 50px 48px;
}
.card:not(:last-child) {
  margin-right: 30px;
}
.card:hover, .card:focus {
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.card__heading {
  margin-bottom: 16px;
  font-size: 24px;
}
.card__heading--bottom {
  margin-bottom: 50px;
}
.card__description {
  margin-bottom: 16px;
}
.card__link {
  font-size: 14px;
  color: #000;
}

.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  background-color: #231f20;
}
.blog__text {
  padding-top: 63px;
  padding-right: 200px;
  padding-bottom: 49px;
  padding-left: 78px;
}
.blog__author {
  margin-bottom: 27px;
  color: #fff;
  font-size: 14px;
}
.blog__heading {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 1.2;
  color: #ffffff;
}
.blog__link--white {
  color: #ffffff;
}

.social {
  margin-bottom: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 24px;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.social__link:hover, .social__link:focus {
  background-color: #000;
  color: #fff;
}
.social__icon {
  fill: currentColor;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.privacy__date {
  font-size: 14px;
  margin-right: 20px;
}
.privacy__terms {
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */