.card {
  transition: box-shadow 250ms linear;
  padding: 48px 48px 50px 48px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  }

  &__heading {
    margin-bottom: 16px;

    font-size: 24px;

    &--bottom {
      margin-bottom: 50px;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__link {
    font-size: 14px;
    color: #000;
  }
}
