.blog {
  &__content {
    display: flex;
    margin-bottom: 40px;
   
    background-color: #231f20;
  }

  &__text {
      padding-top: 63px;
      padding-right: 200px;
      padding-bottom: 49px;
      padding-left: 78px;
  }

  &__author {
    margin-bottom: 27px;

    color: #fff;
    font-size: 14px;
  }

  &__heading {
    margin-bottom: 60px;

    font-size: 48px;
    line-height: 1.2;

    color: #ffffff;
  }

  &__link--white {
    color: #ffffff;
  }
}
