.nav {
  border-bottom: 1px solid #000000;

  &__link {
    line-height: 1.17;
    color: #000000;

    &--black {
      font-size: 14px;
      line-height: 1.4;
      font-weight: 600;
    }
  }
}

.nav__list {
  display: flex;
}
