.social {
  &__link {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;

    &:hover,
    &:focus {
      background-color: #000;
      color: #fff;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
