.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  // outline: 1px solid tomato;

  &__header {
    padding: 0 34px 0 80px;
  }

  &__main {
    padding: 0 135px;
  }

  &__footer {
    padding: 0 220px;
  }
}
