.content {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: 436px;
    column-gap: 30px;
  }

  &__item {
    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    background-color: #fafafa;

    &:hover,
    &:focus {
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__cont {
    margin-top: 24px;
    padding-left: 24px;
  }

  &__heading {
    font-size: 20px;
    line-height: 1.2;

    margin-bottom: 74px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.35;
    color: #000;
  }
}
