.encourage {
    background-color: #F7941E;
    max-width: 1440px;

    &__heading {
        font-size: 32px;
        line-height: 1.4;
    }

    &__description {
        font-size: 32px;
        line-height: 1.4;
    }
}